.feature-section{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: auto;
    border: none;
    transform: translateY(-20%);
    z-index: 9999;
    background-color: white;
   
}



.feature-card{
    max-width: 250px;
    width: 100%;
    padding: 1rem;
    border: none;
    color: black;
}


.feature-card h5{
    font-size: 15px !important;
}

.feature-card p {
    
    font-size: 13px !important;

}



.feature-card-big{
    max-width: 550px;
    width: 100%;
    position: relative;
    padding:1rem;
    border:none;
    color: white;
    background-image: linear-gradient(rgba(85, 138, 189, 0.7), rgba(114, 175, 199, 0.7)),
  url("../../../assets/images/reservation.jpg");;
    background-size: cover;
    background-repeat: no-repeat;
   background-position: center top;
   
    
    
}

.feature-card-big h5{
    color: #ffff !important;
}