.thumb-img,.thumb-img2{
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 50%;
    padding: 3px;
    transition: border-color 0.3s ease-in;
 
}

  .thumb-img.active, 
  .thumb-img2.active{
  border-color: #9bcb3b;
  border-radius: 50%;


}

.thumb-img img,
.thumb-img2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}