.accordion-first {
    display: flex;
    flex-direction: column;
    border: 2px solid #cdd6e0;
    border-radius: 10px;
    padding: 25px 25px 18px 30px;
    margin: 20px 10px 5px 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: box-shadow 0.3s ease;
    user-select: none;
   
}



.accordion-first:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.accordion-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: relative;
  
}

.accordion-btn::after {
    content: "▼";
    font-size: 14px;
    transition: transform 0.3s ease;
    margin-left: 10px;
}

.accordion-btn.active::after {
    transform: rotate(180deg);
}

.acc-panel{
  overflow: hidden;
  opacity: 0;
 
  padding-top: 0;
  transition:
    max-height 0.22s ease-out,
    opacity 0.18s ease-out,
    padding-top 0.18s ease-out;
    
}

.acc-panel p{
    color: white;
    font-weight: 300;
    font-size: 13px;
    font-style: italic;

}


.acc-panel.active {
     
  opacity: 1;
  padding-top: 8px;
}