.services{
  background-color: #F3F7FB;
  padding: 5rem 1rem;
}


.services-title{
    color: #8DE0FE;
    letter-spacing: 5px;
}



.carousel-container {
   overflow: hidden;


}


.slides-container{
    display: flex;
    transition: 0.3s all ease-in;
    gap: 15px;
  

  
}



.slide-width{
     min-width: 100%;
     box-sizing: border-box;
    
    
}


.simpleSlide-Container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));  
    align-items: stretch;   
   gap: 10px; 
   transition: all 0.5 ease-in-out;
}



.simpleSlide {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
  background-color: white;
  padding: 0.625rem;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
   min-width: 0;
  height: 100%;
}

.simpleSlide:hover{
  background-color: #256DC0;
  color: white;
  transform: scale(0.95);
  
}


.simpleSlide:hover .simpleBtn{
  background-color: #256DC0;
  color: white;
  border: 1px solid white;
}


.simpleSlide-body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  flex: 1 1 auto;
}




.allSlides {
  display: flex;
  gap: 10px;
  transition: transform 0.3s ease-in-out; 
}



.dot {
  display: flex;
   border: none; 
   background: transparent;
  padding: 0;
   cursor: pointer; 
   gap: 0.6rem;
 
  }
.dot span {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #d6c0c0; 
  transition: all .3s ease-in-out;
}
.dot:hover span { 
  background-color: #999;
   transform: scaleY(1.3);
   }
.dot span.active { 
  background-color: #9ECC42 !important;
   width: 40px; 
  }

.dot.non{
  background-color: none;
}
  